*{  
    margin: 0;
    padding: 0;
}
header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2PX 10%;
    box-shadow: 0 0 7px rgba(0, 0, 0, 1);
    z-index: 100;
}
.menu-icon {
    width: 35px;
    cursor: pointer;
}
.logo{
    width: 100px;
    margin-left: 5%;
}
button img{
    width: 20px;
    margin-left: 10px;

}
.menu {
    display: flex;
    align-items: center;
}
.menu ul {
    margin-left: 25px;
    display: flex;
    list-style: none;
}
.menu ul a{
    margin-left: 20px;
    text-transform: capitalize;
    font-size: 13px;
    color:black;
    text-decoration: 0;
    position: relative;
}
.menu ul a::after{
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #f7a800;
}
.menu ul a:hover::after{
    width: 100%;
    transition: 0.1s ease-out;
}
.header-end{
    display: flex;
    align-items: center;
}
.header-end i{
    margin-right: 20px;
}
button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0;
    padding: 8px 15px ;
    background-color:#bb2337;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    z-index: 1;
    transition: 0.2s ease-out;
}
button span{
    font-weight: bolder;
    font-size: 20px;
    width: 100%;
    text-align: center;
}
button:hover{
    transform: scale(1.06);
}
.fa-crown{
    position: relative;
    padding: 20px;
    cursor: pointer;
}
.login{
    position: absolute;
    right:-22px;
    top: 60px;
    width: 270px;
    padding: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 8px  rgba(0,0,0,0.2);
    border-radius: 6px;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login button{
    width: 100%;
    background-color:#f7a800;
}
.login button a{
    text-decoration: none;
    color: #fff;
}
hr{
    border: 0;
    margin: 30px 0;
    background-color: gray;
    width: 100%;
    height: 1px;
}
.login p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;

}
.login button:last-child{
    background-color:transparent;
    border: 1px solid #f7a800;

}
.login button:last-child a{
    color: #f7a800;
}
.login::after{
    position: absolute;
    right: 40px;
    top: -8px;
    content: "";
    height: 25px;
    width: 25px;
    z-index: -3;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
    transform: rotate(50deg);
}
.login::before{
    position: absolute;
    right: 40px;
    top: -8px;
    content: "";
    height: 25px;
    width: 25px;
    background-color: #fff;
    transform: rotate(50deg);
}
.fa-crown:hover .login{
    display: block;
}
/*fin header*/










.picture{
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:250px;
}
.TITRE{
    margin-top: 250px;
    display: flex;
    justify-content: center;
}
.TITREE{
    margin-top: 90px;
    display: flex;
    justify-content: center;
}
.ti{
    font-weight: bolder;
}
.ti:hover{
    transform:  scale(1.1) ;
    transition: 1s;
}
.faq-container {
    margin-top: 40px;
 margin-left:  auto;
 margin-right: auto;
 border: 1px solid #ddd;
padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.faq-question {
    text-align: center;
  font-size: 1.2em;
  color: goldenrod;
  cursor: pointer;
  margin-bottom: 10px;
}
.faq-answer {
    text-align: center;
  font-size: 1em;
  color: #333;
  display: none; /* Initially hidden */
  margin-top: 5px;
}
.faq-answer a {
  color: #2980b9;
  text-decoration: none;
}
.faq-answer a:hover {
  text-decoration: underline;;
}
.faq-question:hover{
    color:#bb2337;
}











/*footer*/
footer{
    background-color: #000;
    color: #fff;
    margin-top: 20px; 
    padding: 25px 10%;
    margin-top: 200px;
}
footer p{
    font-size: 15px;
}
.icon-social{
    margin: 20px 0;
}
.icon-social i {
    margin-right: 20px;
    font-size: 20px;
    
}
footer img{
    margin-top: 20px;
    border: 1PX solid #fff;
    height: 50px;
    cursor: pointer;
}
footer img:last-child{
    margin-left: 10px;
}
footer .div2{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .div2 H3{
    margin-bottom: 10px;
}
footer .div2 UL{
    display: flex;
    flex-direction: column;
}
footer .div2 UL a{
    font-size: 13px;
    color: #fff;
    text-decoration: 0;
    margin-bottom: 5px;
    transition: 0.5s;
}
footer .div2 UL a:hover{
    letter-spacing: 0.5px;
}
footer .div3{
    text-align: center;
}
footer .div3 p:first-child{
    font-size: 13px;
}
footer .div3 p:last-child{
    font-size: 12px;
    color: #999;
    margin-top: 10px;
}